body { margin:0; padding:0; text-align: left;}

.gray-overlay { position: fixed; top:0; left:0; width: 100%; height: 100%; z-index: 2000; background: black; opacity: 0.9; }
.gallery-popup { position: fixed; z-index: 2001; text-align: center; width: 100%; height: 100%; left:0; top:0;}
.gallery-popup .gallery-next, .gallery-popup .gallery-prev { width: 57px; height: 100%; padding: 20px; cursor: pointer; position: absolute; z-index: 3010; }
.gallery-popup .gallery-next { background: url('images/arr_right2.png') no-repeat center center; right:0;  }
.gallery-popup .gallery-prev { background: url('images/arr_left2.png') no-repeat center center; left:0; }

.gallery-popup .gallery-close-big { width: 93px; height: 93px; padding: 20px; cursor: pointer; position: absolute; z-index: 3020; background: url('images/close_big.png') no-repeat center center; right:0; }

.gallery-popup .gallery-images-outer-wrap { width: 100%; overflow: hidden; height: 100%; }
.gallery-popup .gallery-images-wrap { width: 4000px; position: relative; height: 100%; }
.gallery-popup .gallery-image-wrap-box { float:left; height: 100%; }

.gallery-popup .gallery-image-wrap { margin:0; display: inline-block; position: relative; text-align: left;}
.gallery-popup .gallery-image img { display: block; margin:0; padding:0; box-shadow: 0 1px 30px rgba(29,29,29,1);  }
.gallery-popup .gallery-image { display: inline; }
.gallery-popup .gallery-count  { 
  float:left;
  margin: 4px 10px 0 5px;
  color: #6E6E6E;
}

.gallery-popup .gallery-image-bottom {
  position: absolute; text-align: left;
  font-size: 16px; color: white; line-height: 26px; margin-top: 1px;
  width: 100%;
}
.gallery-popup .gallery-image-bottom .gallery-image-title { margin: 5px 0 0 0; }
.gallery-popup .gallery-image-bottom .gallery-image-title span { color: #6E6E6E; }

.gallery-popup .gallery-loader-wrap {
  position:absolute;
  width:40px;
  height:40px;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
}

.gallery-popup .gallery-loader{
  position:relative;
  width:40px;
  height:40px;
  margin-top: -20px;
  z-index: 1010;
  margin-left: -5px;

  -moz-border-radius:40px;
  -webkit-border-radius:40px;
  

  -o-transition-duration: 0s;
  -o-transition-timing-function: linear;
  background: #cccccc;
  background: rgba(255,255,255,0);
  padding: 10px;
}

.gallery-popup .gallery-loader{
    -webkit-animation-name: rotateThis;
    -webkit-animation-duration:2s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;

    -moz-animation-name: rotateThisMoz;
    -moz-animation-duration:2s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:linear;

    -ms-animation-name: rotateThisMs;
    -ms-animation-duration:2s;
    -ms-animation-iteration-count:infinite;
    -ms-animation-timing-function:linear;
},

@-webkit-keyframes rotateThis {
  from {-webkit-transform: rotate(0deg);} to {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes rotateThisMoz {
  from {-moz-transform: rotate(0deg);} to {-moz-transform: rotate(360deg);}
}
@-ms-keyframes rotateThisMs {
  from {-ms-transform: rotate(0deg);} to {-ms-transform: rotate(360deg);}
}
.gallery-popup .gallery-loader div{
  width:10px;
  height:10px;
  background:white;
  -moz-border-radius:20px;
  -webkit-border-radius:20px;
  border-radius:20px;
  position:absolute;
  left:25px;
  top:25px;
}
.gallery-popup .gallery-loader .bar1 {
  -moz-transform:rotate(0deg) translate(0, -20px);
  -ms-transform:rotate(0deg) translate(0, -20px);
  -o-transform:rotate(0deg) translate(0, -20px);
  -webkit-transform:rotate(0deg) translate(0, -20px);opacity:0.12;
}
.gallery-popup .gallery-loader .bar2 {
  -moz-transform:rotate(45deg) translate(0, -20px);
  -ms-transform:rotate(45deg) translate(0, -20px);
  -o-transform:rotate(45deg) translate(0, -20px);
  -webkit-transform:rotate(45deg) translate(0, -20px);opacity:0.25;
}
.gallery-popup .gallery-loader .bar3{
  -moz-transform:rotate(90deg) translate(0, -20px);
  -ms-transform:rotate(90deg) translate(0, -20px);
  -o-transform:rotate(90deg) translate(0, -20px);
  -webkit-transform:rotate(90deg) translate(0, -20px);opacity:0.37;
}
.gallery-popup .gallery-loader .bar4 {
  -moz-transform:rotate(135deg) translate(0, -20px);
  -ms-transform:rotate(135deg) translate(0, -20px);
  -o-transform:rotate(135deg) translate(0, -20px);
  -webkit-transform:rotate(135deg) translate(0, -20px);opacity:0.50;
}
.gallery-popup .gallery-loader .bar5 {
  -moz-transform:rotate(180deg) translate(0, -20px);
  -ms-transform:rotate(180deg) translate(0, -20px);
  -o-transform:rotate(180deg) translate(0, -20px);
  -webkit-transform:rotate(180deg) translate(0, -20px);opacity:0.62;
}
.gallery-popup .gallery-loader .bar6 {
  -moz-transform:rotate(225deg) translate(0, -20px);
  -ms-transform:rotate(225deg) translate(0, -20px);
  -o-transform:rotate(225deg) translate(0, -20px);
  -webkit-transform:rotate(225deg) translate(0, -20px);opacity:0.75;
}
.gallery-popup .gallery-loader .bar7 {
  -moz-transform:rotate(270deg) translate(0, -20px);
  -ms-transform:rotate(270deg) translate(0, -20px);
  -o-transform:rotate(270deg) translate(0, -20px);
  -webkit-transform:rotate(270deg) translate(0, -20px);opacity:0.87;
}
.gallery-popup .gallery-loader .bar8 {
  -moz-transform:rotate(315deg) translate(0, -20px);
  -ms-transform:rotate(315deg) translate(0, -20px);
  -o-transform:rotate(315deg) translate(0, -20px);
  -webkit-transform:rotate(315deg) translate(0, -20px);opacity:1;
}